body {
    padding: 0;
    margin: 0;
    font-family: "Signika", serif;

}

.main-container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 100vh;


}

.sidebar {

    grid-column: 1/1;
    grid-row: 1/span 7;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    background-color: #495579;
    color: white;
    font-size: 1.5rem;


}

.sidebar-logo-container {
    display: flex;


}

.card-container {

    grid-column: 2;
    grid-row: 2/span 6;
    display: flex;
    justify-content: center;
    padding: 40px;
    margin-top: 40px;
    background-color: #d4d4d8;


}

.title-container {
    display: flex;
    justify-content: space-between;
    grid-column: 1/3;
}

.card {
    border: none;
    border-radius: 15px;
    padding: 55px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #FFFBEB;
    justify-content: center;
    gap: 20px;
    border-left: solid 10px #251749;
    font-size: 1.2rem;


}


.left-card-container {
    display: grid;
    grid-template: 4rem 1fr 1fr 1fr/1fr 1fr;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;


}

.tall-card {
    border: none;
    padding: 55px;;
    max-width: 600px;
    flex: 1;
    background-color: #FFFBEB;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;


}


.tall-card-container {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px;
    justify-content: center;


}

.tall-card-title-container-1 {
    margin-bottom: 12px;
    padding-top: 20px;

    display: flex;


}

.tall-card-title-container-2 {
    margin-bottom: 12px;

}


.header {
    background-color: #f8fafc;
    grid-column: 2;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;
    font-size: 1.3rem;

}

.row-1, .row-2 {
    display: flex;
    padding: 5px 20px;


}

.row-1, .row-2 {
    justify-content: space-between;


}

.row-2 {
    gap: 15px;
    padding-bottom: 20px;

}


.row1-left-side {
    display: flex;
    gap: 10px;
    width: 70%;
    align-items: center;

}

.row2-left-side, .row2-right-side {
    display: flex;
    gap: 15px;
    align-items: center;
}


input[type='search'] {
    display: flex;
    flex: 1;
    border: black 2px solid;
    border-radius: 50px;
    background-color: #cbd5e1;

}

.boot-logo {
    height: 75px;
    width: 75px;
}

button {
    background-color: #475569;
    border: none;
    color: white;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
}


.sidebar-logo-container {
    padding: 10px;
    gap: 20px;


}


.top-options, .bottom-options {
    display: flex;
    flex-direction: column;


}

.side-options {
    display: flex;
    align-items: center;
    justify-content: center;

}


#dashboard {
    display: flex;
    margin-left: -10px
}

#dashboard-container {
    gap: 5px;
    font-weight: bolder;
    font-size: 2.5rem;
}


#tall-card-1 {
    margin-top: -10px;
}

.grid-tallcard-title:not(:first-child) {
    border-top: solid 2px #495579;
    padding-top: 5px;
}

.icon-container {
    margin-top: auto;
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    align-items: center;
}

.tall-card-2-content img{
    height: 4rem;
    width: 4rem;
}

.tall-card-2-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}