body {
    padding: 0;
    margin: 0;

}

.main-container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-auto-rows: 1fr;
    height: 100vh;


}

.sidebar {

    grid-column: 1/1;
    grid-row: 1/span 7;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    background-color: #d6d4d4;


}

.sidebar-logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.card-container {
    background-color: red;
    grid-column: 2;
    grid-row: 2/span 6;
    display: grid;
    grid-template: 10px 2fr 10px 2fr 1fr/ 2fr 2fr 1fr;
    gap: 20px;
    padding: 20px;

}

.card {
    border: solid black 2px;
    padding: 10px;

}

.tall-card {
    border: blue solid 2px;
    padding: 10px;

}



.header {
    background-color: #f8fafc;
    grid-column: 2;
    grid-row: 1/1;
    display: flex;
    flex-direction: column;

}

.row-1, .row-2 {
    display: flex;
    padding: 5px 20px;


}

.row-1, .row-2 {
    justify-content: space-between;


}

.row-2 {
    gap: 15px;

}


.row1-left-side {
    display: flex;
    gap: 10px;
    width: 70%;
    align-items: center;

}

.row2-left-side, .row2-right-side {
    display: flex;
    gap: 15px;
    align-items: center;
}


input[type='search'] {
    display: flex;
    flex: 1;
    border: black 2px solid;
    border-radius: 50px;
    background-color: #cbd5e1;

}

.boot-logo {
    height: 75px;
    width: 75px;
}

button {
    background-color: #475569;
    border: none;
    color: white;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
}


.sidebar-logo-container {
    padding: 10px;
}

.top-options, .bottom-options {
    display: flex;
    flex-direction: column;


}

.projects-text-container {
    grid-row: 1;
    grid-column: 1;
}

.announcements-text-container {
    grid-row: 1;
    grid-column: 3;
}

.trending-text-container {
    grid-row: 3;
    grid-column: 3;
    margin-top: 100px;
}

#card-1 {
    grid-row: 2;
    grid-column: 1;
    border: green solid 2px;
}

#card-2 {
    grid-row: 2;
    grid-column: 2;
}

#card-3 {
    grid-row: 4;
    grid-column: 1;
}

#card-4 {
    grid-row: 4;
    grid-column: 2;
}

#card-5 {
    grid-row: 5;
    grid-column: 1;

}

#card-6 {
    grid-row: 5;
    grid-column: 2;
}
#tall-card-1 {
    grid-row: 2;
    grid-column: 3;
    margin-bottom: -100px;

}

#tall-card-2 {
    grid-row: 4/span 2;
    grid-column: 3;
    margin-top: 100px;
}