body {
    padding: 0;
    margin: 0;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr;


}

.sidebar {
    background-color: blue;
    grid-column: 1/1;
    grid-row: 1/3;
}

.card-container {
    background-color: red;
    grid-column: 2;
    display: grid;
    grid-template: 3fr 3fr/3fr 3fr;
    gap: 20px;

}

.card, .tall-card {
    border: solid black 2px;
    padding: 10px;
}

.header {
    background-color: #f8fafc;
    grid-column: 2;
    display: flex;
    flex-direction: column;
}

.row-1, .row-2 {
    display: flex;
    padding: 5px 20px;


}


.row-1, .row-2 {
    justify-content: space-between;


}

.row-2 {
    gap: 15px;

}


.row1-left-side {
    display: flex;
    gap: 10px;
    width: 70%;
    align-items: center;

}

.row2-left-side, .row2-right-side {
    display: flex;
    gap: 15px;
    align-items: center;
}


input[type='search'] {
    display: flex;
    flex: 1;
    border: black 2px solid;
    border-radius: 50px;
    background-color: #cbd5e1;

}

.boot-logo {
    height: 75px;
    width: 75px;
}

button {
    background-color: #475569;
    border: none;
    color: white;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
}